<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Date Calculator</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon_16.ico" />
    <link rel="bookmark" href="favicon_16.ico" />

    <!-- site css -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/nigran.datepicker.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="dateCounter">

    <div class="desc container date-calculator" ng-controller="DateCtrl">
        <div class="logo text-center">
            <img src="img/clock.png" width="160">
        </div>

        <div class="row">
            <div class="form-group col-sm-4">
                <label for="starting Date">Starting Date (mm/dd/yyyy)</label>
                <input required placeholder="from" class="date form-control ll-skin-nigran" ui-date ui-date-format="dd/mm/yy" ng-model="fromDate" ng-change="dateChange()">
            </div>
            <div class="col-sm-4">
                <label for="starting Date">Operation</label>

                <div class="operations">

                    <span class="add circle-icon" data-toggle="tooltip" data-placement="bottom" title="Add" ng-class="{selected:selectedOperation.value==='add'}" ng-click="operationChange(operations[0])">+</span> /


                    <span class="subtract circle-icon" data-toggle="tooltip" data-placement="bottom" title="Subtract" ng-class="{selected:selectedOperation.value==='sub'}" ng-click="operationChange(operations[1])">-</span> /


                    <span class="difference circle-icon" data-toggle="tooltip" data-placement="bottom" title="Difference" ng-class="{selected:selectedOperation.value==='diff'}" ng-click="operationChange(operations[2])">_</span>
                </div>
            </div>
            <div class="col-sm-4" ng-switch on="selectedOperation.type">
                <div ng-switch-when="date">
                    <label for="End Date">End Date (mm/dd/yyyy)</label>
                    <input required placeholder="to" class="date form-control" ui-date ui-date-format="dd/mm/yy" ng-model="$parent.toDate" ng-change="dateChange()">
                </div>

                <div ng-switch-when="days">
                    <div class="days">
                        <label for="Days">Days</label>
                        <input required type="number" max="10000" min="1" placeholder="Number of days" class="form-control" ng-model="$parent.noDays" ng-change="dateChange()">
                    </div>
                    <div class="weeks">
                        <label for="weeks">Weeks</label>
                        <input required type="number" max="10000" min="1" placeholder="Number of weeks" class="form-control" ng-model="$parent.noWeeks" ng-change="dateChange()">
                    </div>
                    <div class="months">
                        <label for="months">Months</label>
                        <input required type="number" max="10000" min="1" placeholder="Number of months" class="form-control" ng-model="$parent.noMonths" ng-change="dateChange()">
                    </div>
                    <div class="years">
                        <label for="years">Years</label>
                        <input required type="number" max="10000" min="1" placeholder="Number of years" class="form-control" ng-model="$parent.noYears" ng-change="dateChange()">
                    </div>
                </div>
            </div>
        </div>
        <!--------RESULTS DIV START--------->
        <div class="row" ng-if="results">
            <div class="col-sm-8 col-sm-offset-2 results-container" ng-switch on="isDiff">
                <div class="row" ng-switch-when="true">
                    <div class="col-sm-6">
                        <p>In <strong>{{results.days}}</strong> Days</p>
                    </div>
                    <div class="col-sm-6">
                        <p>which is equivlent to:</p>
                        <p class="sml-txt">{{results.weeks}} Weeks</p>
                        <p class="sml-txt">{{results.hours}} Hours</p>
                        <p class="sml-txt">{{results.minutes}} Minutes</p>
                    </div>
                </div>
                <div ng-switch-when="false">
                    <div class="row text-center">
                        <h2>{{results| date:'mediumDate'}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <!--------RESULTS DIV END--------->

    </div>
</body>



<script type="text/javascript" src="js/jquery-1.10.1.min.js"></script>

<!-- Angular JS -->
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/angular-resource.min.js"></script>
<script src="js/angular/app.js"></script>
<script src="js/angular/controllers/list.js"></script>
<script src="js/angular/factories.js"></script>
<!-- Angular JS -->

<!-- angular UI-->
<script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-date/src/date.js"></script>
<!-- angular UI-->


</html>
